html,body{
	font-family: Arial, sans-serif;
	margin: 0;
	background: #222;
	color: #fff;
}

h3{
	font-size: 28px;
	margin: 0;
	margin-bottom: 20px;
}

img{
	width: 90%;
	border: 1px solid #444;
}

#game-wrapper{
	display: flex;
	width: 980px;
	margin: 0 auto;
	padding: 10px 0;
}

#game{
	flex: 0 0 700px;
	flex-direction: column;
	display: flex;
	padding: 10px 25px;
	position: relative;
}

#game>*,#layer>*{
	margin-bottom: 30px;
}

#layer{
	position: absolute;
	background-color: #222;
	font-size: 18px;
	transition: 0.5s ease-in-out all;
	line-height: 1.5;
	padding: 0 20px;
	top: 60px; bottom: 0; left: 5px; right: 0;
	display: flex;
	flex-direction: column;
}

#start{
	align-self: center;
	background-color: #27ae60;
	border: none;
	border-radius: 2px;
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	outline: 0;
	transition: 0.2s ease-in-out transform;
}

#start:hover{
	transform: scale(1.1);
}

#countdown{
	font-size: 40px;
	align-self: center;
}

#quote{	
	font-size: 24px;
}

textarea{
	flex: 1;
	resize: none;
	font-size: 20px;
	background: #222;
	color: #fff;
	border: 4px solid grey;
	outline: 0;
	border-radius: 3px;
	padding: 10px;
}

#timer{
	font-size: 32px;
	font-weight: bold;
	align-self: center;
}

#stats{
	flex: 0 0 280px;
	padding: 10px;
	box-sizing: border-box;
}

#stats>div{
	display: flex;
	margin-bottom: 15px;
	font-size: 16px;
}

#stats>div>div{
	flex: 1;
}

.title{
	font-weight: bold;
}