html,body{
	font-family: Arial, sans-serif;
	margin: 0;
	background: #222;
	color: #fff;
}

h3{
	font-size: 28px;
	margin: 0;
	margin-bottom: 20px;
}

#game-wrapper{
	display: flex;
	width: 980px;
	margin: 0 auto;
	padding: 10px 0;
}

#game{
	flex: 0 0 700px;
	flex-direction: column;
	display: flex;
	padding: 10px 25px;
	position: relative;
}

#quote{	
	font-size: 24px;
}

textarea{
	flex: 1;
	resize: none;
	font-size: 20px;
	background: #222;
	color: #fff;
	border: 4px solid grey;
	outline: 0;
	border-radius: 3px;
	padding: 10px;
}

#timer{
	font-size: 32px;
	font-weight: bold;
	align-self: center;
}

#stats{
	flex: 0 0 280px;
	padding: 10px;
	box-sizing: border-box;
}

#stats>div{
	display: flex;
	margin-bottom: 15px;
	font-size: 16px;
}

#stats>div>div{
	flex: 1;
}